:root {
  --bg: #ffffff;
  --text: #111;
  --card: #f4f4f4;
}

body.dark {
  --bg: #111;
  --text: #fff;
  --card: #1e1e1e;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  background: var(--card);
  padding: 15px;
  border-radius: 10px;
  text-align: center;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s forwards;
}

/* stagger animation */
.card:nth-child(1) { animation-delay: 0.2s; }
.card:nth-child(2) { animation-delay: 0.4s; }
.card:nth-child(3) { animation-delay: 0.6s; }

.card img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}